.typeBox {
  font-size: 7px;
  width: 65px;
  line-height: 1rem;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 70%);
  text-transform: uppercase;
  border: 1px solid rgba(0,0,0,.2);
}