@font-face {
  font-family: 'Pokemon Classic';
  src: local('Pokemon Classic'),
       url('./font/pokemon_classic.ttf') format('ttf');
}

@font-face {
  font-family: 'Pokemon Ruby';
  src: local('Pokemon Ruby'),
       url('./font/poke_rubi.fon') format('fon');
}

body {
  margin: 0;
  font-family: "Pokemon Classic";
}

h4, h3 {
  margin: 4px;
}

.pokedexContainer {
  border-radius: 15px;
  width: 300px;
  height: 450px;
  background-color: brown;
  display: flex;
  flex-direction: column;
}

.head {
  display: flex;
  height: 60px;
  align-items: center;
  margin: 15px 15px 0 15px;
  .pokedexBlueLens {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;

    .innerLens {
      padding: 2px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: cornflowerblue;
    }
  }

  .coloredLights {
    display: flex;
    margin-left: 30px;
    column-gap: 5px;
    .lightCircle {
      background-color: whitesmoke;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .innerCircle {
      width: 19px;
      height: 19px;
      border-radius: 50%;
      border: 1px grey solid;
    }
  }
}

.redLight {
  background-color: red;
}

.yellowLight {
  background-color: yellow;
}

.greenLight {
  background: greenyellow;
}

.pokedexBody {
  width: 100%;
  height: 100%;
}

.screenCurvedPart {
  margin: 10px;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 5px;
  padding: 1px;
  height: 20px;
  min-width: 90%;
  background-image: linear-gradient(
    -135deg, white 0%, white 90%, rgba(0,0,0,0) 90%, rgba(0,0,0,0) 90%
  );
  border-bottom-right-radius: 15px;
  display: flex;

  .lines {
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    .line {
      background-color: #343434;
      margin: 1px;
      height: 2px;
      width: 25px;
    }
  }
}

.pokedexScreen {
  margin: 10px;
  margin-bottom: 0;
  min-width: 90%;
  height: auto;
  border-radius: 15px 15px 0 0;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  .pokedexScreenLights {
    padding: 5px;
    display: flex;
    justify-content: center;
    column-gap: 10px;
    align-items: center;
    .miniCircle {
      border: 1px black solid;
      border-radius: 50%;
      width: 5px;
      height: 5px;
    }
  }

  .innerScreen {
    font-size: 12px;
    background-color: #343434;
    color: white;
    margin: 8px;
    margin-top: 0;
    height: 70%;
    padding: 4px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .effectivenessBlock {
      flex-direction: column;
    }

    .contentBlock {
      display: flex;
      width: 100%;

      .effectivenessContent {
        margin: 3px 3px;
        display: flex;
        flex-wrap: wrap;
      }

      .leftContent {
        .pokeSpriteContainer {
          margin: 5px;
          padding: 10px;
          background-color: rgba(255, 255, 255, 0.822);
          border-radius: 25px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 60px;
          height: 60px;
          border: 1px rgba(40, 241, 255, 0.37) solid;
        }
      }

      .rightContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 15px;
        .typesContainer {
          display: flex;
          flex-direction: column;
          row-gap: 4px;
        }
      }
    }
  }
}

.bottomContainer {
  display: flex;
  padding: 10px;
  .bottomButtons {
    display: flex;
    align-items: center;
    .circularButton {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border:1px #cecece solid;
      background-color: rgb(32, 64, 102)
    }

    .flatButtons {
      margin-left: 30px;
      display: flex;
      column-gap: 4px;
      .flatButton {
        border: 1px rgba(255, 255, 255, 0.822) solid;
        height: 15px;
        border-radius: 5px;
        width: 50px;
      }
    }
  }
}